<!-- Modal -->
<div class="modal fade" id="addSubjectModal" tabindex="-1" aria-labelledby="addSubjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title" id="addSubjectModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="designation"></label>
            <input type="text" [(ngModel)]="subject.designation" name="designation" class="form-control" id="designation" placeholder="Designation" required />
          </div>
          <div class="form-group">
            <label for="selectedTeacher">Teacher</label>
            <select class="form-select" id="selectedTeacher" name="selectedTeacher" [(ngModel)]="subject.teacher.id">
              <option *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.firstName}} {{teacher.lastName}}</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addSubject(subject)">Save changes</button>

        </div>
      </form>
    </div>
  </div>
</div>
