<router-outlet></router-outlet>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="idance">
  <div class="schedule content-block">
    <div class="container">
      <h2 data-aos="zoom-in-up" class="aos-init aos-animate">Schedule</h2>

      <div class="timetable">

        <div class="tab-content container">
          <div class="tab-pane show active">
            <div class="row">
              <!-- Schedule Item 1 -->
              <div class="col-md-3">
                <div class="timetable-item h-100">
                  <div class="timetable-item-img">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Contemporary Dance">
                  </div>
                  <div class="timetable-item-main">
                    <div class="timetable-item-time">Hassan Badir</div>
                    <div class="timetable-item-name">Responsable module</div>
                    <a href="#" class="btn btn-primary btn-book">Contacter</a>
                  </div>
                </div>
              </div>

              <!-- Schedule Item 2 -->
              <div class="col-md-9">
                <div class="timetable-item h-100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>



