<router-outlet></router-outlet>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="idance">
  <div class="schedule content-block">
    <div class="container">
      <h2 data-aos="zoom-in-up" class="aos-init aos-animate">Schedule</h2>

      <div class="timetable">

        <div class="tab-content container">
          <div class="tab-pane show active">
            <div class="row">
              <!-- Schedule Item 1 -->
              <div class="col-md-3">
                <div class="timetable-item h-100 d-flex align-items-center justify-content-cente">
                  <div class="timetable-item-img">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Contemporary Dance">
                  </div>
                  <div class="timetable-item-main">
                    <div class="timetable-item-time">Hassan Badir</div>
                    <div class="timetable-item-name">Responsable module</div>
                    <a href="#" class="btn btn-primary btn-book">Contacter</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3 ">
                <div class="timetable-item h-100 d-flex align-items-center justify-content-center">
                  Module
                </div>
              </div>

              <!-- Schedule Item 2 -->
              <div class="col-md-4">
                <div class="timetable-item h-100 ">
                  <div class="row col-md-12">
                    <div class="col-md-12">
                      <div class="col-md-12">
                        <div class="row col-md-12">
                          <div class="col-md-10">
                            Test
                          </div>
                          <div class="col-md-2">
                            <div class="float-right btn-group btn-group-sm">
                              <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                              <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="col-md-12">
                        <div class="row col-md-12">
                          <div class="col-md-10">
                            Test
                          </div>
                          <div class="col-md-2">
                            <div class="float-right btn-group btn-group-sm">
                              <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                              <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="col-md-12">
                        <div class="row col-md-12">
                          <div class="col-md-10">
                            Test
                          </div>
                          <div class="col-md-2">
                            <div class="float-right btn-group btn-group-sm">
                              <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                              <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                      <button type="button" class="btn btn-success" (click)="test()"><i class="fa fa-plus"></i></button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

