<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="idance">
  <div class="schedule content-block">
    <div class="container">
      <h2 data-aos="zoom-in-up" class="aos-init aos-animate">Schedule</h2>

      <div class="timetable">

      <nav class="nav nav-tabs">
        <a class="nav-link" routerLink="GINF" routerLinkActive="active">GINF</a>
        <a class="nav-link" routerLink="GIL" routerLinkActive="active">GIL</a>
        <a class="nav-link" routerLink="GSTR" routerLinkActive="active">GSTR</a>
        <a class="nav-link" routerLink="GSEA" routerLinkActive="active">GSEA</a>
        <a class="nav-link" routerLink="G3EII" routerLinkActive="active">G3EII</a>
      </nav>
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
